<h2>このチームのメンバー</h2>
<div class="toppage_kininaru col-lg-3 container">
  <% @users.each do |user| %>
  <div class="user_index row">
    <div class="col-sm-1"></div>
    <div><%= image_tag user.image.url, class:"user_image col-sm-4" %></div>
    <div class="user_name col-sm-6"><%= link_to user.name, user_path(user.id) %></div>
    <div class="col-sm-1"></div>
  </div>
  <% end %>
</div>
