/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

 html {
   position: relative;
   min-height: 100%;
 }
 body {
   text-align: center;
 }
 li{
     list-style:none;
 }
 ul{
     padding:0;
 }
 .title{
     font-size:20px;
     font-weight:bold;
     text-align:center;
 }
 .menu li {
     background-color:#012F4B;
     color:#fff;
     padding:5% 10%;
     text-align:center;
 }
 .contents li{
     background-color:#F3A7AB;
     color:#fff;
     padding:10% 10%;
     box-sizing: border-box;
     border: solid 1px #fff;
 }
 .topic li{
     margin:1%;
     border-bottom: dotted 1px #333333;
 }
 .container{
     margin-top:20px;
     padding-bottom: 100px;
 }

 header {
   width: 100%;
   background-color: #2c3e50;
   height: 54px;
   margin: 0;
 }
 header ul {
   margin: 0 auto;
   list-style: none;
 }
 header ul a {
   display: block;
   padding: 15px;
   text-decoration: none;
   color: white;
 }
 header li {
   width: auto;
 }
 header ul:after {
   content: "";
   display: block;
   clear: both;
 }
 .header_hello{
   display: block;
   padding: 15px;
   color: white;
 }

 .header_items{
   display: flex;
   justify-content: space-between;
}

 .header_item_user{
   margin-left: auto;
 }


.container-fluid{
  overflow: hidden;
}

 .toppage_articles{
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-wrap;
 }

 .toppage_article{
   max-width: 160px;
 	 height:auto;
   display: flex;
   flex-direction: column;
   margin: 1.5rem;
   border: 1px solid #000000;
   border-radius: 10px;
   box-shadow: 10px 10px 7px rgba(0,0,0,0.4);
}

.toppage_article:hover{
  width:calc(17% - 15px);
  height:auto;
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 10px 10px 4px rgba(0,0,0,0.6);
}

 .article_image{
   width: 100%;
   height: 10rem;
   border-radius: 10px 10px 0 0;
 }

 .article{
   overflow: hidden;
   line-height:1.4;
   height:5.6em;
 }

 .kininaru_button{
   margin:1rem 0 1rem 0;
 }

 footer {
   width: 100%;
   background-color:#2c3e50;
   padding: 20px 0 10px 0;
   color: white;
   margin: auto;
   padding-bottom: 10px;
   font-size: 12px;
   position: absolute;
   bottom: 0;
 }
