//一覧ページ・気になるニュース
.toppage_kininaru_article{
  display: flex;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 0.5rem 0 0.5rem 0;
  overflow: hidden;
  line-height:1.4;
  height:10rem;
  margin: 1.5rem;
}

.kininaru_article_text{
  padding:1rem;
}

.kininaru_image{
  width: 18rem;
  height: 10rem;
}

//モーダル
.modal-title{
  display: flex;
}

.modal_image{
  border-radius: 10px;
}

.comment_user_image{
  width:3.5rem;
}

.comment_user_name{
  font-size: 1rem;
}

.comment-content{
  display: flex;
  justify-content: center;
}

//お気に入りハート
.heart-red{
  color: red;
}
