
.comment_btn{
  background-color: #A19A99;
  color: white;
  padding: 3px;
  border-radius: 8px;
}

.comment_close_btn{
  background-color: #4d5ae3;
  color: white;
  padding: 3px;
  border-radius: 8px;
}
