//サインアップ
.user_signup{
  display: flex;
  flex-direction: column;
}
.newuser_title{
  text-align: left;
}

.form-group{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.text_field{
  border-radius: 10px;
}

.text_box{
  height:4rem;
  width:30rem;
}

.newuser_admin{
  display: flex;
}

.admin_checkbox{
  margin-left: 1rem;
}

//ユーザー一覧
.user_index{
  display: flex;
  margin: 0.5rem 0 0.5rem 0;
  line-height:1.4;
  height:10rem;
  margin: 1.5rem;
}

.user_image{
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius:50%;
  padding-right: 0px;
  padding-left: 0px;
}

.user_name{
  text-align: left;
  font-size: 3.5rem;
}

.user_name a{
  text-decoration: none;
  color: #343B54;
}

.user_edit_delete{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.edit_delete{
  display: flex;
}

.user_edit_btn{
  background-color: #3295a8;
  color: white;
  padding: 3px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
}

.user_delete_btn{
  background-color: #ba4f22;
  color: white;
  padding: 3px;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
}

//吹き出し
.balloon {
  background-color: #d1deed;
  padding: 20px;
  position: relative;
  border-radius: 100%;
  width:70%;
}
.balloon:after {
  border-bottom: 12px solid #d1deed;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  content: '';
  margin-left: -10px;
  position: absolute;
  top: -12px;
  left: 50%;
}
