  <h2>このチームのメンバー</h2>
  <h4>(管理者用画面)</h4>

  <% @users.each do |user| %>
  <div class="user_index">
    <div>
      <% if user.image.url.present? %>
        <%= image_tag user.image.url, class:"user_image" %>
      <% end %>
    </div>
    <div class="user_edit_delete">
      <div class="user_name"><%= link_to user.name, user_path(user.id) %></div>
      <div  class="edit_delete">
        <div><%= link_to '編集', edit_admin_user_path(user.id), class:"user_edit_btn" %></div>
        <div><%= link_to '削除', admin_user_path(user.id), method: :delete, class:"user_delete_btn" %></div>
      </div>
    </div>
  </div>
  <% end %>
